{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "extends": ["airbnb", "prettier"],
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": ["prefer-arrow"],
    "rules": {
        "max-len": [
            "warn",
            {
                "code": 100
            }
        ],
        "prefer-promise-reject-errors": ["off"],
        "react/jsx-filename-extension": ["off"],
        "react/prop-types": ["warn"],
        "no-return-assign": ["off"],
        "arrow-body-style": ["error", "as-needed"],
        "prefer-arrow/prefer-arrow-functions": [
            "warn",
            {
                "disallowPrototype": true,
                "singleReturnOnly": false,
                "classPropertiesAllowed": false,
                "allowStandaloneDeclarations": false
            }
        ]
    }
}
