.header {
    height: 100px;
    background-color: $header-bg;
    box-shadow: 0 0 5px 0 $header-bg-shadow;
    border-bottom: 5px solid $header-border;

    .header-brand {
        border: none !important;
        background-color: $transparent;

        .logo {
            max-width: 150px;
            max-height: 50px;
        }
    }

    .input-group {
        width: 600px !important;
        border: 2px solid $search-bar;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 $header-bg-shadow;

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        &:hover {
            box-shadow: 0 0 7px 0 $header-bg-shadow;
        }

        .search-bar {
            border-radius: 8px;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }

        .search-btn {
            border-top-right-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
            background-color: $search-btn !important;
            border-color: $search-btn !important;
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }

    .h-btn-container {
        height: 100%;
        display: flex;
        align-items: center;
        align-content: space-around;

        .btn-group {
            height: 100%;

            .a-btn {
                width: 130px;
                height: 100%;
                display: flex;
                justify-content: space-around;
                border-radius: 4px !important;
                border: 1px solid $header-border2;
                background-color: $header-bg;
                color: $a-btn;
                box-shadow: 0 0 3px 0 $header-bg-shadow;

                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }

                &:hover {
                    box-shadow: 0 0 7px 0 $header-bg-shadow;
                }

                .name {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 60px;
                }
            }

            .dropdown-menu {
                margin-top: 0;
                display: none;

                &:hover {
                    margin-top: 0;
                    display: block;
                }

                .dropdown-divider {
                    margin: 2px !important;
                }

                .md-b {
                    margin-bottom: 10px !important;
                }
            }

            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }

            &:focus {
                .dropdown-menu {
                    display: block;
                }
            }
        }

        .b-btn {
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 4px !important;
            background-color: $header-border2;
            color: $header-bg;
            box-shadow: 0 0 5px 0 $header-bg-shadow;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }

            &:hover {
                box-shadow: 0 0 10px 0 $header-bg-shadow;
            }
        }

        .menu-btn {
            margin-right: 10px;
            height: 50%;

            &:hover {
                box-shadow: 0 0 5px 0 $header-bg-shadow;
            }
        }
    }
}
