.header {
    //width: 100% !important;
    height: 100px;
    background-color: $header-bg;

    .logo {
        width: 150px;
        height: 50px;
    }

    .input-group {
        width: 600px !important;
        border: 2px solid $search-bar;
        border-radius: 10px;

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        .search-bar {
            border-radius: 8px;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }

        .search-btn {
            border-top-right-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
            background-color: $search-btn !important;
            border-color: $search-btn !important;
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }

    .h-btn-container {
        height: 100%;
        display: flex;
        align-items: center;
        align-content: space-around;

        .h-btn {
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
}
