.preview-modal {
    width: 404px !important;

    .discard {
        background-color: $delete;
    }

    .checkout {
        background-color: $common-btn;
    }

    @media only screen and (max-width: 576px) {
        width: 375px !important;
        padding: 0 !important;
        margin: 0;

        .body {
            padding: 0 !important;
        }
    }
}
