.funding-page {
    padding: 10px 0;
    display: flex;
    justify-content: center;

    .form-container {
        padding: 10px 5px;
        width: 50%;
        border-radius: 20px;
        background-color: $header-bg;
        box-shadow: 0 0 2px 0 $header-bg-shadow;
        text-align: center;

        .fund-fields {
            text-align: left;
        }

        .page-title {
            display: flex;
            justify-content: center;
            font-style: normal;
            font-family: -apple-system, 'SFProText', system-ui, Helvetica Neue, sans-serif;
            font-weight: 600;
        }

        .button-group {
            .fund-user-button {
                color: $nav-btn-hover;
                background-color: $common-btn;
                min-width: 50%;
                max-width: 70%;
                font-weight: 500;
                text-transform: none;
                white-space: nowrap;

                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .funding-page {
        .form-container {
            width: 95%;
        }
    }
}
