.home-page {
    display: flex;

    .pm-item-list {
        padding-top: 10px;

        .row {
            .col {
                padding-top: 10px;
                display: flex;
                justify-content: center;
            }
        }

        .filter-row {
            .col {
                padding-top: 0;
                display: flex;
                justify-content: center;
            }

            .form-label {
                color: $black;
                font-size: 15px;
                font-weight: 500;
            }

            .dropdown {
                color: $black;
                font-size: 15px;
                font-weight: 300;

                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }

            .btn-col {
                display: flex;
                align-items: flex-end;

                .btn {
                    border-radius: 4px !important;
                    border: 1px solid $header-border2;
                    background-color: $header-bg;
                    color: $a-btn;

                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }

                    &:hover {
                        box-shadow: 0 0 3px 0 $header-border2;
                    }
                }
            }
        }

        .add-row {
            .add-col {
                display: flex;
                justify-content: center;
            }

            .btn {
                width: 370px;
                display: flex;
                justify-content: center;
                border-radius: 4px !important;
                background-color: $header-bg;
                color: $a-btn;
                box-shadow: 0 0 3px 0 $header-bg-shadow;
                font-size: 16px;

                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }

                &:hover {
                    box-shadow: 0 0 5px 0 $header-bg-shadow;
                }
            }
        }
    }

    .banner-ad-left {
        padding-top: 10px;
        padding-left: 10px;
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        max-width: 20%;
        position: relative;
        min-height: 700px;
        max-height: 700px;

        .image-container {
            position: fixed;
            width: 370px;
            height: 370px;
            border-radius: 10px 10px 0 0 !important;
            box-shadow: 0 0 3px 0 $header-bg-shadow;
            min-height: 700px;
            max-height: 700px;

            .image {
                height: 700px;
                width: 370px;
                border-radius: 20px 20px 0 0 !important;
                object-fit: fill;
            }
        }
    }

    .banner-ad-right {
        padding-top: 20px;
        padding-left: 0px;
        margin-left: 0px;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        max-width: 20%;
        min-height: 700px;
        max-height: 700px;
        
        .image-container {
            position: fixed;
            width: 370px;
            height: 370px;
            border-radius: 10px 10px 0 0 !important;
            box-shadow: 0 0 3px 0 $header-bg-shadow;
            min-height: 700px;
            max-height: 700px;

            .image {
                height: 700px;
                width: 370px;
                border-radius: 20px 20px 0 0 !important;
                object-fit: fill;
            }
        }
    }

    .new-item-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 84vh;
        background-color: #ed5f1f;
        padding-top: 50px;
        padding-bottom: 50px;

        &:before {
            content: '';
            background-image: $bg-img;
            background-color: #ed5f1f;
            opacity: 0.4;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: $total-header !important;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .form-container {
            padding: 50px 20px 20px;
            border-radius: 20px;
            box-shadow: 0 0 5px 0 $header-bg-shadow;
            background-color: $header-bg;

            .dropdown {
                height: 38px;
            }

            .btn-col {
                height: 38px;
                display: flex;
                justify-content: flex-end;
            }

            .btn {
                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .home-page {
        display: flex;
    
        .pm-item-list {
            padding-top: 10px;
            min-width: 60%;
    
            .row {
                .col {
                    padding-top: 10px;
                    display: flex;
                    justify-content: center;
                }
            }
    
            .filter-row {
                .col {
                    padding-top: 0;
                    display: flex;
                    justify-content: center;
                }
    
                .form-label {
                    color: $black;
                    font-size: 15px;
                    font-weight: 500;
                }
    
                .dropdown {
                    color: $black;
                    font-size: 15px;
                    font-weight: 300;
    
                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }
    
                .btn-col {
                    display: flex;
                    align-items: flex-end;
    
                    .btn {
                        border-radius: 4px !important;
                        border: 1px solid $header-border2;
                        background-color: $header-bg;
                        color: $a-btn;
    
                        &:focus {
                            outline: none !important;
                            box-shadow: none !important;
                        }
    
                        &:hover {
                            box-shadow: 0 0 3px 0 $header-border2;
                        }
                    }
                }
            }
    
            .add-row {
                .add-col {
                    display: flex;
                    justify-content: center;
                }
    
                .btn {
                    width: 370px;
                    display: flex;
                    justify-content: center;
                    border-radius: 4px !important;
                    background-color: $header-bg;
                    color: $a-btn;
                    box-shadow: 0 0 3px 0 $header-bg-shadow;
                    font-size: 16px;
    
                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
    
                    &:hover {
                        box-shadow: 0 0 5px 0 $header-bg-shadow;
                    }
                }
            }
        }
    
        .banner-ad-left {
            padding-top: 20px;
            padding-left: 10px;
            margin-left: 0px;
            display: flex;
            justify-content: flex-start;
            text-align: left;
            max-width: 20%;
            position: fixed;
            visibility: hidden;
    
            .image-container {
                position: fixed;
                width: 370px;
                height: 370px;
                border-radius: 20px 20px 0 0 !important;
                box-shadow: 0 0 3px 0 $header-bg-shadow;
                min-height: 700px;
                max-height: 700px;
    
                .image {
                    max-height: 370px;
                    max-width: 370px;
                    border-radius: 20px 20px 0 0 !important;
                }
            }
        }
    
        .banner-ad-right {
            padding-top: 20px;
            padding-left: 93%;
            margin-left: 0px;
            display: flex;
            justify-content: flex-end;
            text-align: right;
            max-width: 20%;
            position: fixed;
            visibility: hidden;
            
            .image-container {
                position: fixed;
                width: 370px;
                height: 370px;
                border-radius: 20px 20px 0 0 !important;
                box-shadow: 0 0 3px 0 $header-bg-shadow;
                min-height: 700px;
                max-height: 700px;
    
                .image {
                    max-height: 370px;
                    max-width: 370px;
                    border-radius: 20px 20px 0 0 !important;
                }
            }
        }
    
        .new-item-page {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            min-height: 84vh;
            background-color: #ed5f1f;
            padding-top: 50px;
            padding-bottom: 50px;
    
            &:before {
                content: '';
                background-image: $bg-img;
                background-color: #ed5f1f;
                opacity: 0.4;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: $total-header !important;
                right: 0;
                bottom: 0;
                left: 0;
            }
    
            .form-container {
                padding: 50px 20px 20px;
                border-radius: 20px;
                box-shadow: 0 0 5px 0 $header-bg-shadow;
                background-color: $header-bg;
    
                .dropdown {
                    height: 38px;
                }
    
                .btn-col {
                    height: 38px;
                    display: flex;
                    justify-content: flex-end;
                }
    
                .btn {
                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}