.campaign-management-page {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    
    .form-container {
        min-width: 50%;
        border-radius: 20px;
        background-color: $header-bg;
        box-shadow: 0 0 2px 0 $header-bg-shadow;

        .page-title {
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
            text-transform: capitalize;
        }

        .campaign-list {
            justify-content: center;
            flex-shrink: 1;

            .campaign-card {
                text-align: left;
                margin-top: 20px;
                background-color: transparent;
            }

            .campaign-details {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                min-width: fit-content;
                flex-wrap: wrap;
            }
        }

        .buttons {
            justify-content: center;

            .save-campaigns-button {
                    color: $nav-btn-hover;
                    background-color: $common-btn;
                    //min-width: 50%;
                    width: 360px;
                    font-weight: 500;
                    text-transform: none;
                    margin-bottom: 20px;

                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
            }
        }
    }
}