.account-info-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    .page-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        height: fit-content;
        min-width: 70%;
        padding: 50px;
        border-radius: 20px;
        background-color: $header-bg;
        box-shadow: 0 0 5px 0 $header-bg-shadow;

        .labels{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            min-width: fit-content;
        }

        .inputs {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .password-input-group {
                justify-content: center;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .address-list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .address-textbox {
                background-color: #f4f4f2;
            }
        }

        .logo-container {
            display: flex;
            justify-content: center;
            margin-bottom: 80px;

            .header-brand {
                border: none !important;
                background-color: $transparent;
                margin-bottom: 30px;

                .logo {
                    max-width: 200px;
                    max-height: 100px;
                }
            }
        }

        .password-textbox {
            max-width: 40%;
        }

        .password_btn {
            background-color: $a-btn;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }

        .update-name-surname-btn {
            color: $nav-btn-hover;
            background-color: $common-btn;
            min-width: 50%;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }

        .btn-container {
            display: flex;
            justify-content: center;

            .btn {
                height: 38px;
                width: 100px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .account-info-page {
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        overflow-x: hidden;
        overflow-y: hidden;
    
        .page-title {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .form-container {
            height: fit-content;
            min-width: 70%;
            padding: 50px;
            border-radius: 20px;
            background-color: $header-bg;
            box-shadow: 0 0 5px 0 $header-bg-shadow;
    
            .labels{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
    
            .name-inputs {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
    
            .address-list {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
    
                .address-textbox {
                    background-color: #f4f4f2;
                }
            }

            .password-textbox {
                min-width: 70%;
            }
    
            .logo-container {
                display: flex;
                justify-content: center;
                margin-bottom: 80px;
    
                .header-brand {
                    border: none !important;
                    background-color: $transparent;
                    margin-bottom: 30px;
    
                    .logo {
                        max-width: 200px;
                        max-height: 100px;
                    }
                }
            }
    
            .password_btn {
                background-color: $a-btn;
    
                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
    
            .update-name-surname-btn {
                color: $nav-btn-hover;
                background-color: $common-btn;
                min-width: 50%;
    
                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
    
            .btn-container {
                display: flex;
                justify-content: center;
    
                .btn {
                    height: 38px;
                    width: 100px;
                }
            }
        }
    }
}

