$header-bg: #f4f4f2;
$header-bg-shadow: #797a7e;
$header-border: #ff6000;
$header-border2: #ed5f1f;
$search-bar: #797a7e;
$search-btn: #797a7e;
$a-btn: #797a7e;
$b-btn: #797a7e;
$nav-bg: #e7e6e1;
$nav-btn: #797a7e;
$nav-btn-hover: #e8e8e8;
$transparent: rgba(0, 0, 0, 0);
$common-btn: #ff6000;
$star: #ff7824;
$card-bg: #f5f5f5;
$campaign: #339900;
$delete: #f90000;
$edit: #339933;
$btn-second: rgba(255, 96, 0, 0.12);
$price: #439e4a;
$black: #484848;
$blue: #537ecf;
$wait: #875a5a;
