$header-bg: #f4f4f2;
$header-bg-shadow: #797a7e;
$search-bar: #797a7e;
$search-btn: #797a7e;
$a-btn: #797a7e;
$b-btn: #797a7e;
$nav-bg: #e7e6e1;
$nav-btn: #797a7e;
$nav-btn-hover: #e8e8e8;
$transparent: rgba(0, 0, 0, 0);
