$header-bg: rgb(255, 255, 255);
$search-bar: rgba(33, 37, 41, 0.4);
$search-btn: rgb(52, 58, 64, 0.8);
$h-btn: rgb(73, 80, 87);
$nav-bg: rgb(231, 235, 238);
$nav-btn: rgb(222, 226, 230);
$nav-btn-hover: rgb(173, 181, 189);
