.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-container {
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 0 5px 0 $header-bg-shadow;

        .header-brand {
            border: none !important;
            background-color: $transparent;
            margin-bottom: 30px;

            .logo {
                max-width: 200px;
                max-height: 100px;
            }
        }

        .input-field-container {
            display: flex;
            justify-content: center;

            .form-group {
                display: flex;
                justify-content: center;
                width: 100%;

                label {
                    width: 75%;
                }
            }
        }

        .btn-container {
            display: flex;
            justify-content: center;

            .btn {
                width: 100px;
            }
        }
    }
}
